################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dot.net.junior/.vs/dot.net.junior
/dot.net.junior/Model.Entidades/obj
/dot.net.junior/Model.Infraestrutura/obj/Debug
/dot.net.junior/packages/Antlr.3.5.0.2
/dot.net.junior/packages
/dot.net.junior/Site/bin
/dot.net.junior/Site/obj/Debug
/dot.net.junior/Model.Entidades/bin/Debug/netcoreapp3.0
/dot.net.junior/Model.Entidades/bin/Debug
/dot.net.junior/LogicaNegocio/bin/Debug
/dot.net.junior/Model.Infraestrutura/bin/Debug
/.vs
obj/
/dot.net.junior/Site/Site.csproj.user